:root {
  --accent-color: #4f2ee8;
  --accent-color-dark-bg: #eac645;

  /* Fonts */
  --main-font: 'DM Sans', sans-serif;

  /* Text colors */
  --main-text-color: #111111;
  --main-text-color-dark-bg: #ffffff;

  --secondary-text-color: rgba(17, 17, 17, 0.6);
  --secondary-text-color-dark-bg: rgba(255, 255, 255, 0.6);

  --secondary-title-color: #b4afaf;

  /* BG colors */
  --main-bg-color: #f6f6f6;
  --main-bg-color-dark-bg: #202024;

  --header-bg-color: #ffffff;
  --header-bg-color-dark-bg: #111111;

  /* z-index */
  --loader: 12;
  --modal-book-backdrop: 11;
  --header-z-index: 10;
  --mobile-menu: 9;
  --swiper-button-next: 1;
  --mobile-menu-img: -1;
}
