<div class="mobile-menu js-menu-container">
  <div class="container mobile-menu__container">
    <ul class="mobile__nav-list">
      <li class="mobile__nav-item">
        <a
          class="mobile__nav-link header__nav-link current-link"
          href="./index.html"
          >Home</a
        >
      </li>
      <li class="mobile__nav-item">
        <a class="mobile__nav-link header__nav-link" href="./shoppinglist.html">
          Shopping list
          <svg class="header__nav-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-bag"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
